<div class="container-fluid bg-custom-home centered-div d-flex justify-content-center align-items-center">
        <div class="text-center my-5 py-5 text-white">
            <h1 class="display-4">{{heading}}</h1>
            <p class="lead">Welcome to {{heading}} - Your favorite place for delicious meals!</p>
            <div class="mt-4">
                <a href="/register" class="btn btn-primary btn-lg mr-2">Register</a>
                <a href="/login" class="btn btn-success btn-lg">Login</a>
            </div>
        </div>
    </div>